<h3><%= @task.title %></h3>
<p><em><%= @task.details %></em></p>
<p>Completed? <%= link_to check_box_tag(:task, :completed, @task.completed), 
                "/tasks/#{@task.id}/complete/#{!@task.completed}" %> </p>

<%= link_to "Edit", edit_task_path(@task) %><br>
<%= link_to "Delete", task_path(@task), method: :delete %><br>
<%= link_to 'Back', tasks_path %><br>